@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa|IBM+Plex+Sans:300|Montserrat|PT+Sans&display=swap');

:root {
    --mainColor: #D81B60;
    --success-green: #2ecebf;
    --main-color: #D81B60;
    --interactive-main-color: #E81D66;
    --blue-color: #199ED8;
    --interactive-blue-color: ;
    --light-gray-color: #ECECEC;
    --gray-color: #D7D7D7;
    --dark-gray-color: #585858;
    --black-color: #131313;
    --white-color: #ffffff;
    /*borders*/
    --no-border: 0px;
    /*fonts*/
    --normal-font:'IBM Plex Sans', sans-serif;
    --attention-font: "Arial Bold", Arial;
}
html, body{
  height: 100%;
  font-family: var(--normal-font);
}

a{
  color: var(--interactive-main-color);
}

a:hover{
  text-decoration: none;
}

.dish-el-menu:hover{
  opacity: 0.6;
}

.menu-popularity-img{
  height: 2.5vh;
}

.row{
  display: flex;
  flex-direction: row;
}

p{
  max-width: 50%;
  word-wrap: break-word;
}

.dish-el-menu{
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  width: 30vw;
  color: var(--black-color);
  background-color: var(--light-gray-color);
  margin: 2vh 4vh;
  -webkit-box-shadow: 0px 5px 5px 0px var(--gray-color);
  -moz-box-shadow: 0px 5px 5px 0px var(--gray-color);
  box-shadow: 0px 5px 5px 0px var(--gray-color);
}

.dish-img{
  display: flex;
  height: 16vh;
}

.dish-el-menu-description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1vh 2vh;
  flex: 2;
}

.dish-el-menu-description > .dish-states{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .navbar-brand{
    color: var(--mainColor);
}
.navbar{
  justify-content: space-between;
}

.carousel{
  margin-bottom: 7vh;
}

.carousel-indicators li{
  height: 30px;
  border-radius: 50%;
}

.carousel-indicators{
  justify-content: flex-start;
}

.carousel-caption{
  width: 15%;
}

.navbar-expand {
    justify-content: space-between;
    align-content: flex-end;
}
.btn-primary-havvka {
    background-color: var(--mainColor);
    border: 0;
    color: white;
}
.btn-primary-havvka:focus{
  border-color: var(--interactive-main-color);
}

.btn-primary-havvka:hover{
  background-color: var(--interactive-main-color);
  color: white;
}

.btn-primary-havvka:disabled{
  background-color: var(--dark-gray-color);
}

.nav-item:hover{
  background-color: var(--interactive-main-color);
  margin: 0;
  padding: 0;
}

.navbar{
  padding: 0;
  margin: 0.7vh 0px 1.2vh 0px;

  font-family: var(--normal-font), monospace;
}

.page-title{
  display: flex;
    width: 100%;
    background-color: var(--mainColor);
    border: 0;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 12vh;
    font-size: 5vh;
    margin-bottom: 10vh;
    -webkit-box-shadow: 0px 5px 5px 0px var(--gray-color);
  -moz-box-shadow: 0px 5px 5px 0px var(--gray-color);
  box-shadow: 0px 5px 5px 0px var(--gray-color);
}

.brand-text{
  margin-left: 4vw;
  font-size: 5vh;
}

.nav-item, .nav-item:hover{
  display: flex;
  width: 7vw;
  height: 10vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.nav-link{
  font-size: 2vh;
}

.headernav{
  background-color: white;
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.main-nav{
  background-color: var(--mainColor);
  -webkit-box-shadow: 0px 5px 5px 0px var(--gray-color);
-moz-box-shadow: 0px 5px 5px 0px var(--gray-color);
box-shadow: 0px 5px 5px 0px var(--gray-color);
}

.btn-outline-primary {
    color: var(--mainColor);
    border-color: var(--mainColor);
}
.carousel {
    background: var(--mainColor);
}
.carousel-item {
    height: 600px;
}
.carousel-caption {
    text-align: left;
    height: 60%;
}
.carousel-slide {
    height: 100%;
    float: right;
}

.container{
  height: 120%;
}

footer{
  background-color: var(--mainColor);
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 10vh;
  font-size: 2vh;
  padding: 4vh;
}
