:root {
    --mainColor: rgb(211, 16, 107);
}
.navbar .navbar-brand{
    color: var(--mainColor);
}
.navbar-expand {
    justify-content: space-between;
}
.btn-primary {
    background-color: var(--mainColor);
    border: 0;
}
.btn-outline-primary {
    color: var(--mainColor);
    border-color: var(--mainColor);
}