body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1898px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:759px;
  height:81px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:15px;
  width:749px;
  height:71px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:15px;
  width:700px;
  height:71px;
}
#u4_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:71px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:71px;
}

/*menu*/
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:71px;
  width:140px;
  height:284px;
  visibility:hidden;
}
#u11_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:284px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:284px;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:140px;
  height:71px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:59px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFAFA;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:23px;
  width:234px;
  height:59px;
  display:flex;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFAFA;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:720px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 23px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 23px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 23px rgba(0, 0, 0, 0.349019607843137);
}
#u20 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:243px;
  width:911px;
  height:720px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  padding:3px 2px 3px 2px;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  padding:3px 2px 3px 2px;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 200, 200, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  -webkit-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:432px;
  width:395px;
  height:41px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u24 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 200, 200, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  -webkit-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u24.disabled {
}
.u24_input_option {
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:355px;
  width:270px;
  height:47px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u27_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 200, 200, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  -webkit-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:569px;
  width:395px;
  height:41px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 200, 200, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  -webkit-box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
  box-shadow:0px 0px 5px 0px rgba(196, 196, 196, 1) inset;
}
#u27.disabled {
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:492px;
  width:215px;
  height:47px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u28 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}

/*blue button*/
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:686px;
  width:210px;
  height:88px;
  display:flex;
  font-size:18px;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(26, 171, 232, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u29.mouseOver {
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}

/*page title main*/
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:117px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:-2px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-2px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-2px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:41px;
  color:#FFFBFB;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:154px;
  width:1901px;
  height:117px;
  display:flex;
  font-family:'Yu Gothic UI Light', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:300;
  font-style:normal;
  font-size:41px;
  color:#FFFBFB;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1896px;
  height:100px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFCFC;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1107px;
  width:1896px;
  height:100px;
  display:flex;
  font-family:'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFCFC;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:10px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:284px;
  width:274px;
  height:10px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_img.selected {
}
#u34.selected {
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:10px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:284px;
  width:274px;
  height:10px;
  display:flex;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:10px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:284px;
  width:274px;
  height:10px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_img.selected {
}
#u36.selected {
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:336px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:241px;
  width:580px;
  height:326px;
  display:flex;
  font-size:18px;
  color:#E6E6E6;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:-0.1px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:498px;
  width:107px;
  height:45px;
  display:flex;
  font-size:16px;
  letter-spacing:-0.1px;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(232, 29, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:-0.1px;
}
#u40.mouseOver {
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:-0.1px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:498px;
  width:107px;
  height:45px;
  display:flex;
  font-size:16px;
  letter-spacing:-0.1px;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(232, 29, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:-0.1px;
}
#u41.mouseOver {
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:373px;
  width:329px;
  height:113px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:342px;
  width:119px;
  height:47px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u46 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:479px;
  width:328px;
  height:47px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u48 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#131313;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:539px;
  width:125px;
  height:60px;
  display:flex;
  color:#131313;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}

#u50_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#131313;
}
#u50.mouseOver {
}
#u50_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#131313;
}
#u50.selected {
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0B0B0B;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:539px;
  width:125px;
  height:60px;
  display:flex;
  color:#0B0B0B;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0B0B0B;
}
#u51.mouseOver {
}
#u51_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
  background:inherit;
  background-color:rgba(216, 27, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0B0B0B;
}
#u51.selected {
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:683px;
  width:210px;
  height:88px;
  display:flex;
  font-size:18px;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(26, 171, 232, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u52.mouseOver {
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:730px;
  width:329px;
  height:113px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:699px;
  width:228px;
  height:47px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u57 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:468px;
  width:329px;
  height:113px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:457px;
  width:150px;
  height:38px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u60 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:365px;
  width:329px;
  height:113px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:355px;
  width:238px;
  height:38px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u63 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:597px;
  width:329px;
  height:113px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  color:#131313;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:566px;
  width:138px;
  height:47px;
  display:flex;
  font-family:'Yu Gothic UI Semilight', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:350;
  font-style:normal;
  font-size:29px;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:843px;
  width:210px;
  height:88px;
  display:flex;
  font-size:18px;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(26, 171, 232, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u68.mouseOver {
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:51px;
  color:#131313;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:530px;
  width:450px;
  height:113px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:51px;
  color:#131313;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:496px;
  width:210px;
  height:88px;
  display:flex;
  font-size:18px;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(26, 171, 232, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u71.mouseOver {
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:686px;
  width:210px;
  height:88px;
  display:flex;
  font-size:18px;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
  background:inherit;
  background-color:rgba(26, 171, 232, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}

#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
